<div class="item<%= " active" if product == @products.first %>">
  <%= link_to product  do %>
  	<%= image_tag("#{product.image_url}", class: "img-responsive") %>
    <div class="carousel-caption">
      <div class="hidden-xs">
      	<h4><%= product.name %></h4>
      </div>
    </div>
  <% end %><!-- end link_to product -->
</div>