<div class="about">
	<h1>About</h1>
	<p>Baby Mama Germany is your source for the best baby products from Germany. We sell popular German baby forumla brands Hipp and Holle as well as other food and baby care products.</p>
</div><!-- end .about -->

