<div class="row orders-list">
	<% @orders.each do |order| %>
	<div class = "visible-sm-block anchor"></div>
	<div class="col-xs-12 col-md-6">
		<h1>
			Order # <%= link_to order.id, order %>:
			<%= link_to order.product.name, order.product %>
		</h1>
		<p><%= order.product.description %></p>
		<p><strong><%= number_to_currency(order.product.price) %></strong></p>
	</div><!-- /col -->
	<% end %>
	<div class="anchor"></div>
</div><!-- /row -->