// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/****************/
/*** Orders ***/
/****************/
.col-sm-2,
.col-md-4 h1 {
  font-size: 1.2em;
  margin: 2% auto;
}


.col-sm-2,
.col-md-4 p {
  margin-left: 2%;
}

.col-sm-2 p {
  font-size: .95em;
}

