// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/****************/
/*** Products ***/
/****************/
.product-clickable {
  height: 400px;
  text-align: center;
  display: block;
  margin: auto;
  font-size: 1.3em;
  padding: 5%;
}

.product-clickable img {
  margin: auto;
  max-height: 100%;
}

.products-list {
  width: 100%;
  margin: auto;
}

.product-anchor {
  padding-top: 50px;
}

.product-img img {
  margin: auto;
  width: 100%;
}

.product-show {
  width: 90%;
  margin: auto;
}

.product-show img {
  margin: auto;
}

.product-name {
  color: #e60000;
  font-size: 1.5em;
}

.visible-xs-block .product-name {
  text-align: center;
}

/*** Table Style for Default Generated Index Page ***/
/*
.products-list table {
  width: 100%;
  margin: auto;
}

.products-list table > thead > tr {
  font-size: 1.2em;
  color: #e60000;
  font-family: 'Josefin Sans', Helvetica, serif;
}

.products-list table > thead > tr,
.products-list table > tbody > tr {
  border-bottom: #eee 1px dotted;
  
}


.products-list table > tbody > tr > td {
  padding-right: 10px;
}
*/










