// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**************/
/*** Global ***/
/**************/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
  color: #e60000;
}

h1 {  
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

h4 {
  margin: 0px;
}

a {
  color: #e60000;
}

a:hover {
  color: #f00;
}

.anchor {
  padding-top: 55px;
  clear: both;
}

/******************/
/*** Navigation ***/
/******************/
.navbar-default {
  background-color: #ccdeff;
  border: none;
}

.navbar-default .navbar-nav {
  background-color: #ccdeff;
}

.navbar-default .navbar-toggle {
  float: left;
}

.navbar-default .navbar-form {
  margin-top: 10px;
}

.navbar-default .navbar-collapse {
  border: none;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand a {
  color: #e60000;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > .active > a {
  background-color: #ccdeff;  
  color: #e60000; 
  border-bottom: 5px solid #e60000;
  font-weight: bolder;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #e60000;
  font-weight: bolder; 
  background-color: #fff;
  border-bottom: 5px solid #fff; 
}

.navbar-brand a {
  font-family: 'Josefin Sans', Helvetica, sans-serif;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bolder;
}

.navbar-brand a:hover {
  color: red;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #e60000;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus  {
  background-color: #ccdeff;
}

/**********************/
/*** Image Carousel ***/
/**********************/
.carousel {
  margin: 0% 15%;
}

.carousel-inner .item {
  width: 100%;
  margin: auto;
}

.carousel-inner .item img {
  display: block;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 15%;
  
}

.carousel-inner .carousel-caption {
  text-shadow: none;
}

.carousel-indicators {
  bottom: 0px;
  margin-bottom: 5px;
}

.carousel-indicators li {
  border: #f00 solid 2px;
}

.carousel-control .glyphicon {
  color: #f00;
}

.carousel-control {
  background-image: none !important;
  outline: none;
}


/********************/
/*** Contact Page ***/
/********************/
.contact {
  width: 65%;
  margin: auto;
  padding-bottom: 5%;
}

.contact p {
  text-align: center;
}

.form_label {
  position: relative;
  left: -15px;
}




/********************/
/*** About Page ***/
/********************/
.about {
  width: 70%;
  margin: auto;
  padding-bottom: 5%;
}

.about p {
  text-align: left;
}


/**************/
/*** Footer ***/
/**************/
footer {
  font-family: 'Open Sans Condensed';
  background-color: #ccdeff;
  padding: 15px;
}

