<%= link_to product  do %>
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 product-clickable">
		<%= image_tag("#{product.image_url}", class: "img-responsive") %>
		<%= product.name %>
		<br>
		<%= number_to_currency(product.price) %>
	</div>
	<div class="visible-xs-block">
		<div class="product-anchor">&nbsp;<hr></div>
	</div>
<% end %><!-- end link_to product -->