<div class="container products-list anchor">
  <p id="notice"><%= notice %></p>

  <h1>Products</h1>
  <div class="row">
     <%= render @products %>
  </div><!-- end row -->

  <div class="anchor"></div>
  
  <%= link_to 'New Product', new_product_path %>

</div><!-- end container products-list-->
<div class="anchor"></div>




